In [3]:
import pandas as pd 
import matplotlib as mpl 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
net_migrations = pd.read_csv('data/net_migration.csv', nrows=4496)

In [7]:
net_migrations

,Country or Area,Year,Value,Value Footnotes,Unnamed: 4,Unnamed: 5
0,Afghanistan,2014.0,6.390000,NaN,NaN,NaN
1,Afghanistan,2013.0,5.900000,NaN,NaN,NaN
2,Afghanistan,2012.0,5.454545,NaN,NaN,NaN
3,Afghanistan,2011.0,5.000000,NaN,NaN,NaN
4,Afghanistan,2010.0,4.000000,NaN,NaN,NaN
5,Afghanistan,2009.0,3.550000,NaN,NaN,NaN
6,Afghanistan,2008.0,1.840000,NaN,NaN,NaN
7,Afghanistan,2007.0,1.900000,NaN,NaN,NaN
8,Afghanistan,2006.0,2.107124,NaN,NaN,NaN
9,Afghanistan,2005.0,1.224148,NaN,NaN,NaN
10,Afghanistan,2004.0,0.105809,NaN,NaN,NaN
11,Afghanistan,2003.0,0.087891,NaN,NaN,NaN
12,Afghanistan,2002.0,0.004561,NaN,NaN,NaN
13,Afghanistan,2001.0,0.004723,NaN,NaN,NaN
14,Afghanistan,1990.0,0.000000,NaN,NaN,NaN
15,Albania,2014.0,60.100000,NaN,NaN,NaN
16,Albania,2013.0,57.200000,NaN,NaN,NaN
17,Albania,2012.0,54.655959,NaN,NaN,NaN
18,Albania,2011.0,49.000000,NaN,NaN,NaN
19,Albania,2010.0,45.000000,NaN,NaN,NaN
20,Albania,2009.0,41.200000,NaN,NaN,NaN
21,Albania,2008.0,23.860000,NaN,NaN,NaN
22,Albania,2007.0,15.036115,NaN,NaN,NaN
23,Albania,2006.0,9.609991,NaN,NaN,NaN
24,Albania,2005.0,6.043891,NaN,NaN,NaN
25,Albania,2004.0,2.420388,NaN,NaN,NaN
26,Albania,2003.0,0.971900,NaN,NaN,NaN
27,Albania,2002.0,0.390081,NaN,NaN,NaN
28,Albania,2001.0,0.325798,NaN,NaN,NaN
29,Albania,2000.0,0.114097,NaN,NaN,NaN
...,...,...,...,...,...,...
4466,Zambia,1999.0,0.147053,NaN,NaN,NaN
4467,Zambia,1998.0,0.030226,NaN,NaN,NaN
4468,Zambia,1997.0,0.009330,NaN,NaN,NaN
4469,Zambia,1996.0,0.009069,NaN,NaN,NaN
4470,Zambia,1995.0,0.008784,NaN,NaN,NaN
4471,Zambia,1994.0,0.006776,NaN,NaN,NaN
4472,Zambia,1990.0,0.000000,NaN,NaN,NaN
4473,Zimbabwe,2014.0,19.890000,NaN,NaN,NaN
4474,Zimbabwe,2013.0,18.500000,NaN,NaN,NaN
4475,Zimbabwe,2012.0,17.090000,NaN,NaN,NaN
4476,Zimbabwe,2011.0,15.700000,NaN,NaN,NaN
4477,Zimbabwe,2010.0,11.500000,NaN,NaN,NaN
4478,Zimbabwe,2009.0,11.360000,NaN,NaN,NaN
4479,Zimbabwe,2008.0,11.400000,NaN,NaN,NaN
4480,Zimbabwe,2007.0,10.850000,NaN,NaN,NaN
4481,Zimbabwe,2006.0,9.791842,NaN,NaN,NaN
4482,Zimbabwe,2005.0,8.015978,NaN,NaN,NaN
4483,Zimbabwe,2004.0,6.564045,NaN,NaN,NaN
4484,Zimbabwe,2003.0,6.394786,NaN,NaN,NaN
4485,Zimbabwe,2002.0,3.994356,NaN,NaN,NaN
4486,Zimbabwe,2001.0,0.799846,NaN,NaN,NaN
4487,Zimbabwe,2000.0,0.401434,NaN,NaN,NaN
4488,Zimbabwe,1999.0,0.161676,NaN,NaN,NaN
4489,Zimbabwe,1998.0,0.081648,NaN,NaN,NaN
4490,Zimbabwe,1997.0,0.033080,NaN,NaN,NaN
4491,Zimbabwe,1996.0,0.016790,NaN,NaN,NaN
4492,Zimbabwe,1995.0,0.007684,NaN,NaN,NaN
4493,Zimbabwe,1994.0,0.001739,NaN,NaN,NaN
4494,Zimbabwe,1990.0,0.000000,NaN,NaN,NaN
4495,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
internet_users = pd.read_csv('data/internet_users.csv')

In [9]:
internet_users

     Country or Area  Year    Value  Value Footnotes
0        Afghanistan  2012   473007              NaN
1        Afghanistan  2007  -677497              NaN
2        Afghanistan  2002   804120              NaN
3        Afghanistan  1997  -379474              NaN
4        Afghanistan  1992  2227474              NaN
5        Afghanistan  1987 -1484185              NaN
6        Afghanistan  1982 -3418299              NaN
7        Afghanistan  1977 -1117459              NaN
8        Afghanistan  1972   -20000              NaN
9        Afghanistan  1967   -20000              NaN
10       Afghanistan  1962   -20000              NaN
11           Albania  2012   -91750              NaN
12           Albania  2007  -252926              NaN
13           Albania  2002  -175406              NaN
14           Albania  1997  -179606              NaN
15           Albania  1992  -443212              NaN
16           Albania  1987      -99              NaN
17           Albania  1982      -99              NaN
18           Albania  1977      -99              NaN
19           Albania  1972      -99              NaN
20           Albania  1967      -99              NaN
21           Albania  1962      -99              NaN
22           Algeria  2012  -143268              NaN
23           Algeria  2007  -357340              NaN
24           Algeria  2002  -205228              NaN
25           Algeria  1997  -164413              NaN
26           Algeria  1992  -128679              NaN
27           Algeria  1987   -93302              NaN
28           Algeria  1982   -81020              NaN
29           Algeria  1977  -224833              NaN
...              ...   ...      ...              ...
2345     Yemen, Rep.  1997  -100000              NaN
2346     Yemen, Rep.  1992   672800              NaN
2347     Yemen, Rep.  1987   -50000              NaN
2348     Yemen, Rep.  1982   -50000              NaN
2349     Yemen, Rep.  1977   -75000              NaN
2350     Yemen, Rep.  1972  -353000              NaN
2351     Yemen, Rep.  1967  -245662              NaN
2352     Yemen, Rep.  1962  -100000              NaN
2353          Zambia  2012   -34490              NaN
2354          Zambia  2007  -124044              NaN
2355          Zambia  2002   -93014              NaN
2356          Zambia  1997    79445              NaN
2357          Zambia  1992   -22952              NaN
2358          Zambia  1987     2822              NaN
2359          Zambia  1982    58483              NaN
2360          Zambia  1977    17573              NaN
2361          Zambia  1972    26662              NaN
2362          Zambia  1967    -4245              NaN
2363          Zambia  1962     2500              NaN
2364        Zimbabwe  2012  -219922              NaN
2365        Zimbabwe  2007  -307650              NaN
2366        Zimbabwe  2002  -395554              NaN
2367        Zimbabwe  1997  -200000              NaN
2368        Zimbabwe  1992  -191803              NaN
2369        Zimbabwe  1987   120505              NaN
2370        Zimbabwe  1982   141524              NaN
2371        Zimbabwe  1977  -101516              NaN
2372        Zimbabwe  1972   -30360              NaN
2373        Zimbabwe  1967   -27996              NaN
2374        Zimbabwe  1962   -10001              NaN

[2375 rows x 4 columns]